#container{
    width: 100%;
    margin: auto;
    
    /* border: 1px solid ; */
}
#header{
    width: 100%;
    /* height: 133px; */
    
}
#content{
  
    width: 80%;
    margin: auto;
}
#display{
    display: flex;
    margin-bottom: 20px;
}
#items{
    width: 190px;
    height: 40px;
    background-color: rgb(227,227,227);
    margin-right: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bolder; 
}
#savelater{
    width: 190px;
    height: 40px;
    background-color: rgb(227,227,227);
    margin-right: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bolder;
}
#shoppingbag{
    
    display: flex;
    justify-content: space-between;
}
#left{
    
    width: 857px;
}
#right{
    width: 270px;
    
    /* border: 1px solid green; */

}
#cartimg{
    width: 90px;
    
    margin-right: 10px;
}
#cartimg>img{
    width: 100%;
    height: 100%;
}
#brandinfo{
    display: flex;
}
#showdetail{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 5px;
}
p{
    /* padding-bottom: 6px; */
    margin: 0%;
}
#type{
    margin-bottom: 20px;
}
#heading{
    font-size: 27px;
    margin-bottom: 10px;
}
#abovebag{
    width: 100%;
    display: flex;
    /* border-bottom: 1px solid gray; */
    margin-bottom: 10px;
    justify-content: space-between;
    /* border: 1px solid red; */
    
}
#ab1{
    border-bottom: 1px solid gray;
    width: 857px;
}
#ab2{
    /* border: 1px solid; */
    width: 270px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

#price{
    
    width: 150px;
    text-align: right;
}
#quan{
    width: 50px;
    height: 30px;
}
h3{
    margin: 0%;
    margin-bottom: 16px;
}
h4{
    margin-right: 30px;
    margin-bottom: 0%;
}
#info{
    /* border: 1px solid; */
    width: 400px;
    /* height: 120px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#div2{
    /* border: 1px solid blue; */
    display: flex;
    color: blue;
    margin-top: 10px;
    
}
#later{
    margin-left: 40px;
}
#c_acpay{
    width: 250px;
}
a{
    color: blue;
}
#c_bottom{
    display: flex;
    justify-content: space-between;
    width: 857px;
    margin-top: 10px;
    border-top: 1px solid gray;
}
#c_total{
    display: flex;
    flex-direction: column;
    /* border: 1px solid goldenrod; */
}
#c_amount{
    width: 350px;
    /* border: 1px solid green; */
    height: 50px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
}
#subtotal,#total{
    font-size: 20px;
    padding: 15px;
}
#c_submit{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    margin-top: 20px;
    color: WHITE;
    font-size: 20px;
    text-align: center;
}
#ridiv{
    width: 90px;
}
#ridiv>img{
    width: 100%;
}
#infodiv{
    width: 170px;
    /* border: 1px solid red; */
}
#mainco{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#infodiv>h5{
    margin-top: 0%;
    margin-bottom: 10px;
    color: red;
}

/* header starts */

#navbar{
    width: 100%;
    
}
#navbar *{
    font-family: Brandon Text,Arial,sans-serif;
}

#international_shipping{
    width: 100%;
    background-color: black;
    height: 5%;
    text-align: center;
}
#international_para *{
    font-family: Brandon Text,Arial,sans-serif;
    color: #fff;
    cursor: pointer;
    line-height: 3em;
    position: relative;
    

}
#img_austria, #austria_img{
    background-color: black;
    display: flex;
    float: right;
    border:0;
    line-height: 1.5em;
    position: relative;
    align-items: center;

}
#img_austria{
    padding:0px 15px;
    padding-top:  3px;
    font-size:11px
}

#bar_rightsider{
    cursor: pointer;
    display:flex;
    /* border: 1px solid black; */
}
#bar_rightsider > div{
    margin-right: 40px;
}
/* #cart_img{
    width: 5%;
    padding: 0px;
} */

#nav_cat_div{
    width: 100%;
    /* border: 2px solid black; */
}
#nav_catog{
    justify-content: space-between;
    list-style: none;
    display:flex; 
    line-height:1.5;
}
#select_cat{
    /* padding: 0px 55px; */
    color:#393939; 
    cursor: pointer;
}
#select_cat_Sale{
    margin-left: -10px;
    cursor: pointer;
    color:red;
}
#select_cat_brand{
    margin-right: 40px;
    cursor: pointer;
}
/* hover - stgyles -------------------------------*/
#select_cat_Sale:hover{
    border-bottom: 2px solid red;
}
#select_cat_brand:hover{
    border-bottom: 2px solid black;
}
#select_cat:hover{
    border-bottom: 2px solid black;
}

#query{
    border: 0px;
    font-family: Brandon Text,Arial,sans-serif;
    font-size: medium;
    width: 100%;
    margin-left: -25px;
    margin-top: -35px;  
    padding-top: 5px; 
    
}


#bar_rightsider{
    /* border: 1px solid red; */
    text-align: center;
    width: 40%;
   margin-top: -15px;
    align-content: center;
   
}

.main-menu li{
    display: inline-block;
    padding: 10px 0px;
    width: 180px;
   
    font-family:  Brandon Text,Arial,sans-serif;
    transition: 1s; 
    /* border: 1px solid green;  */
    cursor: pointer;
    
}

.sub-menu{
    display: none;
    /* list-style-type: none; */
    position: absolute;
    border: 1px solid gainsboro;
    margin-top: 5px;
    margin-left: -20px;
    box-shadow: 1px 1px 1px grey ;
    text-align: left;
    width: 220px;
    padding-top: 15px;
    z-index: 1;
    background-color: white;
 

    
}

/* .sub-menu:before{
    content : "";
    width: 0px;
    height: 0px;
    border-left: 15px solid pink;
    border-right: 15px solid pink;
    border-bottom: 30px solid pink;
    position: absolute;
    
} */

.sub-menu >li{
    padding: 10px;
    font-family:  Brandon Text,Arial,sans-serif; 
}

.main-menu li:hover, .sub-menu li:hover{
    background: rgb(235, 235, 235);
}
.main-menu li:hover .sub-menu{
    display: block;
}

#nord_img{
    width: 30%;
}
#nordstorm{
    margin-left: 25px;
    /* border: 2px solid black; */
    width: 60%;   
}
#nordstorm_searchbar{
    display: flex;
    height: 50px;
}

#l1{
    background-color: black;
    color: white;
}

/* footer starts */

#footer{
    font-family: Brandon Text,Arial,sans-serif;
    width:99%;
    margin:auto;
    background-color: white;
    margin-top: 20px;
    /* border-top: 3px solid black; */
    height: auto;
}
#overview{
    display: flex;
    /* border: 1px solid black; */
    height: auto;
}
#overview_2{
    flex: 3;
    /* border: 2px solid red; */
}
#footer_heading{
    color: #393939;
    font-size: 15px;
}
#footer_cont{
    color: #393939;
    font-size: 13px;
}
#overview_1{
    flex: 1.5;
    /* border: 2px solid red; */
    margin-left:40px ;
    justify-content:left
}
#footer_heading{
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#footer_cont{
    font-size: 13px;
    cursor: pointer;
}
#overview_two{
    display: flex;

}
#footer_cont:hover{
    border-bottom: 2px solid #393939;
}
#overview_two{
    justify-content: space-around;
    /* border: 2px solid #393939; */
}
